footer
  .footerRow
    .statement
      p Website created by Virtus Solutions. 
      p Source code 
        a(href='#') here.
    .links
      p Follow Us! 
      p
        a(href='#').icon-twitter 
        a(href='#').icon-facebook2 
        a(href='#').icon-github 
