nav
  .textContainer
    p.link 
      a(href='#') Home
    p.link 
      a(href='#') Products
    p.link 
      a(href='#') Pricing
    p.link 
      a(href='#') Quote
    p.link 
      a(href='#') About the Team
