#start.grid-container
  
  .grid-row-wide.grid-row
    .grid-row-number
      p no. 3
    
  .grid-row.grid-row-wide.startContainer
    
    .grid-half.imgSection
      .image
        img(src='dist/images/JoinMe.svg').masking
        .filler
        .filler
        .filler
        .filler
        
    .grid-half.text
      h3 Contact me to get a quote!
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper hendrerit sollicitudin. Sed consequat dui neque, et malesuada purus dictum ut. Sed mattis maximus nisl eget aliquam. Curabitur in velit vitae erat efficitur euismod quis eget leo. Phasellus libero orci, gravida in tincidunt vel, placerat et ligula. Nulla facilisi. Nulla risus lacus, venenatis pretium leo vitae, luctus sagittis nisi. Donec finibus, quam ut finibus semper, quam lacus porta libero, ut varius diam mi ut tortor. 
      
      form(method='POST' action='https://formspree.io/virtuswebsolutions@gmail.com')
        label(for='Name') Name
        input(type='text' name='Name' placeholder='Name')
          
        label(for='CompanyOrOrganization') Company/Organization
        input(type='text' name='CompanyOrOrganization' placeholder='Company/Organization')
          
        //- label(for='Type') Type of Job
        //- select(name='Type')
        //-   option(value='Website') Website
        //-   option(value='WebApp') Web App
        //-   option(value='MobileApp') Mobile App
          
        label(for='Message') Description or Message
        textarea(type='text' name='Message' placeholder='Ex. I want a mobile app for my small business...' rows='5')
          
        input(type='submit' name='submit' value='Send Message')
        
        
