#landing
  .text
    //- h1.svgAnimation Virtus Solutions
    
    .title
      img(src='dist/images/TitleMask.svg' ).mask
      div.fill
      div.fill
      div.fill
      div.fill
        
    h2.subtitle Web Design as Art
  
  p.scroll scroll
  
