#landing
  .text
    h1.svgAnimation Virtus Solutions
    
    div.title
      img(src='#' ).mask
      div.fill
      div.fill
      div.fill
      div.fill
        
    h2.subtitle Web Design as Art
  
  p.scroll scroll
  
