#products.grid-container
  
  .grid-row.grid-row-contained.info
    .grid-row-number
      p no. 1
    .grid-row-title
      h1 Web Design
    .grid-row-paragraph
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper hendrerit sollicitudin. Sed consequat dui neque, et malesuada purus dictum ut. Sed mattis maximus nisl eget aliquam. Curabitur in velit vitae erat efficitur euismod quis eget leo. Phasellus libero orci, gravida in tincidunt vel, placerat et ligula. Nulla facilisi. Nulla risus lacus, venenatis pretium leo vitae, luctus sagittis nisi. Donec finibus, quam ut finibus semper, quam lacus porta libero, ut varius diam mi ut tortor. 
    
  .grid-row.grid-row-wide.show
    a(href="#").grid-half.projectSection
      .projectInfo
        .projectTitle 
          h3 Vishal Shah's Personal Site
        .projectDescription 
          p A personal website designed by me. 



  .grid-row.grid-row-contained.info
    .grid-row-title
      h1 Web Design
    .grid-row-paragraph
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper hendrerit sollicitudin. Sed consequat dui neque, et malesuada purus dictum ut. Sed mattis maximus nisl eget aliquam. Curabitur in velit vitae erat efficitur euismod quis eget leo. Phasellus libero orci, gravida in tincidunt vel, placerat et ligula. Nulla facilisi. Nulla risus lacus, venenatis pretium leo vitae, luctus sagittis nisi. Donec finibus, quam ut finibus semper, quam lacus porta libero, ut varius diam mi ut tortor. 
    
  .grid-row.grid-row-wide.show
    a(href="#").grid-half.projectSection
      .projectInfo
        .projectTitle 
          h3 Vishal Shah's Personal Site
        .projectDescription 
          p A personal website designed by me. 
    a(href="#").grid-half.projectSection
      .projectInfo
        .projectTitle 
          h3 Vishal Shah's Personal Site
        .projectDescription 
          p A personal website designed by me. 
