doctype
html
  head
    //- TODO Add SEO Options
    title Virtus Solutions: Web Design as Art
    include partials/_head.pug

  body
    
    include partials/_header.pug
    
    include partials/_menu.pug
    
    a(name='home')
    include sections/landing.pug
    
    a(name='about')
    include sections/about.pug
    
    a(name='products')
    include sections/products.pug
    
    a(name='quote')
    include sections/getStarted.pug
    
    include partials/_footer.pug
    
    include partials/_lowerHead.pug

    //- .grid-container
    //- 
    //-   .grid-row.grid-row-contained
    //-     .grid-row-number
    //-       p no. 1
    //-     .grid-row-title
    //-       h1 Text Here
    //-     .grid-row-paragraph
    //-       p More text here
    //- 
    //- 
    //-   .grid-row.grid-row-wide
    //-     .grid-half
    //-       h1 hello
    //-     .grid-half
    //-       h1 hello
    //- 
    //-   .grid-row.grid-row-wide
    //-     .grid-half
    //-       h1 hello
    //- 
