#landing
  height: 100vh
  // background: lightblue
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  .text
    width: 80%
    text-align: left

    .svgAnimation
      font-size: 75px
      font-family: $font-header

    .subtitle
      position: relative
      // To get on top of title
      top: -20px
      left: 30px

  .scroll
    position: absolute
    bottom: 20px
    padding: 10px
    border-bottom: 3px solid $warm-black
